body {
  background-color: #899c7e;
}

/* #quiz-container {
  
} */

#question-container {
  text-align: center;
  border-style: solid;
  border-radius: 50px;
  border-width: 10px;
  height: 80px;
  padding: 20px;
  margin: 50px;
}

.quizButtons {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.control-buttons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#answerchoiceQ1-buttons {
  display: flex;
  flex-direction: column;
  justify-content: last baseline;
  gap: 50px;
}

.btn {
  background-color: #b5afc6;
  padding: 10px;
}

.startBtn {
  background-color: #b5afc6;
  padding: 10px;
}

.submitBtn {
  background-color: #b5afc6;
  padding: 10px;
  
}