body {
  background-color: #899c7e;
}

/* #quiz-container {
  border-style: solid;
  border-radius: 50px;
  border-width: 10px;
  height: 80px;
  padding: 20px;
  margin: 50px;
} */

#question-container {
  text-align: center;
  border-style: solid;
  border-radius: 50px;
  border-width: 10px;
  height: 80px;
  padding: 20px;
  margin: 50px;
}

/* #question2-container {
  text-align: center;
  border-style: solid;
  border-radius: 50px;
  border-width: 10px;
  height: 80px;
  padding: 20px;
  margin: 50px;
} */

.quizButtons {
  display: flex;
  gap: 50px;
  justify-content: center;
}


#answerchoiceQ1-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.btn {
  background-color: #b5afc6;
  padding: 10px;
}

