body {
  background-color: #877491;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  background-color: #9f8ea8;
  padding-top: 10px;
  padding-bottom: 10px;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
}

#question-container {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  border-style: solid;
  border-radius: 50px;
  border-width: 10px;
  height: 115px;
  padding: 20px;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: -120px;
}

img {
  display: grid;
  grid-column-start: 2;
  grid-column-end: five;
  margin-left: auto;
  margin-right: auto;
  height: 100px; 
  margin-top: 100px;
}

.nextBtn {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bolder;
  margin-top: 10px;
  background-color: #b5afc6;
  padding: 10px;
  border-radius: 20px;
}

.quizButtons {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-top: -60px; 
}

.control-buttons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#answerchoiceQ1-buttons {
  display: flex;
  flex-direction: column;
  justify-content: last baseline;
  gap: 50px;
}

.btn {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: bolder;
  background-color: #b5afc6;
  padding: 30px;
  border-radius: 20px;
}

.btn1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-weight: bolder;
  background-color: #b5afc6;
  padding: 10px;
  border-radius: 20px;
}

.resetBtn {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: bolder;
  background-color: #b5afc6;
  padding: 10px;
  border-radius: 20px;
}

#countdown {
  text-align: center;
  background-color: #9f8ea8;
  margin-bottom: 200px;
  margin-top: -150px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.hide {
  display: none;
}

#secondTime {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bolder;
  font-size: 18px;
  text-align: center;
  background-color: #9f8ea8;
  margin-bottom: 200px;
  margin-top: -150px;
  padding-top: 10px;
  padding-bottom: 10px;
}
